.main-board-multiplayer{
    width : 100%;
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    height : 7vh;
}

.coop{
    background-color : #121212;
    display : flex;
    flex-direction : column; 
    width: 20cqw;
    justify-content : space-around;
    align-items : center;
    border-radius : 20px;
    color : white;
}

.pvp{
    background-color : #121212;
    display : flex;
    flex-direction : column; 
    width: 20cqw;
    justify-content : space-around;
    align-items : center;
    border-radius : 20px;
    color : white;
}

.coop img{
    margin-right : 0px;
}

.pvp img{
    margin-right : 0px;
}
